@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/*font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
/*font-family: 'Pacifico', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
/*font-family: 'Noto Serif', serif;*/
*

/*Background*/
.bg-grad {
    background-image: linear-gradient(black, transparent);
}


/*Fonts*/
.fonta {
    font-family: 'Raleway', sans-serif;
}

.fontb {
    font-family: 'Great Vibes', cursive;
}

.fontc {
    font-family: 'Noto Serif', serif;
}


/*BG-Pict*/
.bg-pict {
    background-image: url(img/cake_dessert_sweet_cream_chocolate_93382_1920x1080.jpg);
    width: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-pict-2 {
    background-image: url(img/cookies_pastries_food_table_105514_1920x1080.jpg);
    width: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-pict-3 {
    background-image: url(img/cake_biscuit_layer_chocolate_101006_1920x1080.jpg);
    width: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-pict-menu{
    background-image: url(img/cake_berries_blueberries_raspberries_106758_1920x1080.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-pict-about{
    background-image: url(img/chocolate_candy_stuffing_sweet_miscellaneous_85039_1920x1080.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-pict-dessert{
    background-image: url(img/cake_dessert_layers_89721_1920x1080.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-pict-main{
    background-image: url(img/holiday_cookies_sweets_treats_new_year_mood_84977_1920x1080.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-pict-party{
    background-image: url(img/ice_cream_cone_lavender_dessert_101521_1920x1080.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Box*/
.box {
    color: #ffffff;
    width: 80%;
    height: auto;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
}

.box2 {
    color: #ffffff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
}

/*Text*/
.text-transparent {
    color: transparent;
    transition: all .3s ease-in-out;
}

.text-transparent:hover {
    color: transparent;
    cursor: auto;
}